[user]
	email = 29218439+ywada526@users.noreply.github.com
	name = ywada526
[core]
	editor = vim
	pager = hunk pager
	excludesfile = ~/.gitignore_global
	untrackedcache = true
	fsmonitor = true
[color]
	ui = auto
[fetch]
	prune = true
[rebase]
	autosquash = true
	autostash = true
[pull]
	rebase = true
[rerere]
	enabled = true
[init]
	defaultBranch = main
[credential "https://github.com"]
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = !/opt/homebrew/bin/gh auth git-credential
[url "https://github.com/"]
	insteadOf = git@github.com:
[alias]
	tidy = !git fetch --prune && BRANCH=$(git branch --show-current) && git switch $(git symbolic-ref --short refs/remotes/origin/HEAD | sed \"s|^origin/||\") && git branch -D \"$BRANCH\" && git pull
	cleanup = !git branch --merged | sed \"s/^\\* //\" | grep -Ev \"^($(git symbolic-ref --short refs/remotes/origin/HEAD | sed \"s|^origin/||\"))$\" | xargs git branch -D
