[user]
	email = 29218439+ywada526@users.noreply.github.com
	name = ywada526
[core]
	editor = vim
	excludesfile = ~/.gitignore_global
[color]
	ui = auto
[fetch]
	prune = true
[rebase]
	autosquash = true
	autostash = true
[pull]
	rebase = true
[push]
	default = simple
[diff]
	tool = vscode
[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE
	prompt = false
[merge]
	tool = vscode
[mergetool "vscode"]
	cmd = code --wait $MERGED
	prompt = false
[rerere]
	enabled = true
[url "git@github.com:"]
	insteadOf = https://github.com/
	pushInsteadOf = https://github.com/
[init]
	defaultBranch = main
