[user]
	email = 29218439+ywada526@users.noreply.github.com
	name = ywada526
[core]
	editor = vim
	excludesfile = ~/.gitignore_global
	untrackedcache = true
	fsmonitor = true
[color]
	ui = auto
[fetch]
	prune = true
[rebase]
	autosquash = true
	autostash = true
[pull]
	rebase = true
[push]
	default = simple
[diff]
	tool = vscode
[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE
	prompt = false
[merge]
	tool = vscode
[mergetool "vscode"]
	cmd = code --wait $MERGED
	prompt = false
[pager]
	diff = delta
	log = delta
	reflog = delta
	show = delta
[rerere]
	enabled = true
[init]
	defaultBranch = main
[credential]
	helper = /usr/local/share/gcm-core/git-credential-manager
[credential "https://dev.azure.com"]
	useHttpPath = true
[delta]
	plus-style = "syntax #012800"
	minus-style = "syntax #340001"
	syntax-theme = Monokai Extended
	navigate = true
	line-numbers = true
	side-by-side = true
[interactive]
	diffFilter = delta --color-only
[alias]
	tidy = !git fetch --prune && BRANCH=$(git branch --show-current) && git switch $(git symbolic-ref --short refs/remotes/origin/HEAD | sed \"s|^origin/||\") && git branch -D \"$BRANCH\" && git pull
	cleanup = !git branch --merged | sed \"s/^\\* //\" | grep -Ev \"^($(git symbolic-ref --short refs/remotes/origin/HEAD | sed \"s|^origin/||\"))$\" | xargs git branch -D
